p{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: rgb(118, 230, 14);
    font-family: ARIAL;
    text-align: center;

}

h2{
    color: yellow;
    font-family: ALGERIAN;
}

#intro {    
    color: blue;    
    font-size: 20px;
    }

#imagen {
     width: 150px;
     border-radius: 10px;
     }
    
.tipos {    
        color: red;    
        font-weight: bold;
    }

a {
        color: blue;
        text-decoration: none;
    }
    

*{
    background-color: rgba(100, 143, 143);
    opacity: 1.0;
   
}

#fondo{
    height: 800px;
    background-image: url(imagen.png);
    background-size: cover;


}

div p, div h2{
    color: rgb(8, 54, 114);
    font-size: 30px;
  /*  border: 5px solid;*/
    border-style: solid;
    border-color: white;
    border-radius: 5px;

}

.sevillana-regular {
    font-family: "Sevillana", cursive;
    font-weight: 100;
    font-style: normal;
  }
  
  .nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
  }