p {
    color: green;
    font-weight: bold;
    text-decoration: underline;
  }
  

  #mi-id {
    color: rgb(55, 0, 255);
    padding: 10px;
    border: 2px solid black;
  }

  .mi-clase {
    color: purple;
    background-color: lightgray;
    border-radius: 5px;
  }